[submodule "vim/available-bundles/ack.vim"]
	path = vim/available-bundles/ack.vim
	url = https://github.com/vim-scripts/ack.vim.git
[submodule "vim/available-bundles/ultisnips"]
	path = vim/available-bundles/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/available-bundles/vim-pathogen"]
	path = vim/available-bundles/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/available-bundles/Command-T"]
	path = vim/available-bundles/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule "vim/available-bundles/bufexplorer"]
	path = vim/available-bundles/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "vim/available-bundles/nerdcommenter"]
	path = vim/available-bundles/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/available-bundles/nerdtree"]
	path = vim/available-bundles/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/available-bundles/pdv"]
	path = vim/available-bundles/pdv
	url = https://github.com/tobyS/pdv.git
[submodule "vim/available-bundles/pep8"]
	path = vim/available-bundles/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "vim/available-bundles/vdebug"]
	path = vim/available-bundles/vdebug
	url = https://github.com/joonty/vdebug.git
[submodule "vim/available-bundles/vim-colors-solarized"]
	path = vim/available-bundles/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/available-bundles/vim-fugitive"]
	path = vim/available-bundles/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/available-bundles/vim-mustache-handlebars"]
	path = vim/available-bundles/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "vim/available-bundles/vmustache"]
	path = vim/available-bundles/vmustache
	url = https://github.com/tobyS/vmustache.git
[submodule "vim/available-bundles/vim-markdown"]
	path = vim/available-bundles/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/available-bundles/vim-puppet"]
	path = vim/available-bundles/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "vim/available-bundles/vim-abolish"]
	path = vim/available-bundles/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/available-bundles/vim-surround"]
	path = vim/available-bundles/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/available-bundles/vim-scala"]
	path = vim/available-bundles/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "vim/available-bundles/vim-plugin-dirsettings"]
	path = vim/available-bundles/vim-plugin-dirsettings
	url = https://github.com/mantiz/vim-plugin-dirsettings.git
